<!DOCTYPE html>
<!--스프링 시큐리티 네임스페이스-->
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extra/spring-security">
<header th:fragment="common">
    <!--로고섹션-->
    <section class="logo_area">
        <!--로그 클릭시 /admin 페이지로 이동-->
        <a th:href="@{/admin}">로고</a>
    </section>
    <section class="btn_area">
        <!--로그인시-->
        <th:block sec:authorize="isAuthenticated()">
            <a th:href="@{/member/info}">회원정보 수정</a>
            <a th:href="@{/member/logout}">로그아웃</a>
        </th:block>
        <!--미로그인시-->
        <th:block sec:authorize="isAnonymous()">
            <a th:href="@{/member/join}">회원가입</a>
            <a th:href="@{/member/login}">로그인</a>
        </th:block>
    </section>
</header>

</html>