<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{admin/layouts/main">

<section layout:fragment="content">
    <h1>기본설정</h1>
    <form name = "frmSave" method="post" th:action="@{/admin/config}" autocomplete="off">
        <table class="table_cols">
            <tr>
                <th>사이트 제목</th>
                <td>
                    <input type="text" name ="siteTitle" th:field="*{siteTitle}">
                </td>
            </tr>
            <tr>
                <th>사이트 설명</th>
                <td>
                    <input type = "text" name="siteDescription" th:field="*{siteDescription}">
                </td>
            </tr>
            <tr>
                <th>사이트 키워드</th>
                <td>
                    <input type = "text" name = "siteKeywords" th:field="*{siteKeywords}">
                </td>
            </tr>
            <tr>
                <th>CSS, JS 버전</th>
                <td>
                    <input type="number" name="cssJsVersion" min="1" th:field="*{cssJsVersion}">
                </td>
            </tr>
            <tr>
                <th>회원가입약관</th>
                <td>
                    <textarea name="joinTerms" th:field="*{joinTerms}"></textarea>
                </td>
            </tr>
        </table>
        <div class="submit_btns">
            <button type="reset" class="btn">다시입력</button>
            <button type="submit" class="btn">저장하기</button>
        </div>
    </form>
</section>

</html>