<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{front/layouts/main}">

<main layout:fragment="content">
    <h1 th:text="#{회원가입}"></h1>
<!--th:object로 커맨드객체 연동(th:field로 값을 받아오기 위해)-->
    <form name="frmJoin" method="post" th:action="@{/member/join}" autocomplete="off" th:object="${requestJoin}">
        <!--에러를 error와 global 두개로 묶을 거임-->
        <div class="error global" th:each="err : ${#fields.globalErrors()}" th:text="${err}"></div>

        <dl>
            <dt th:text = "#{이메일}"></dt>
            <dd>
<!--                requestJoin 커맨드객체에서 email연결-->
                <input type="text" name="email" th:field="*{email}">
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text = "#{이메일}"></dt>
            <dd>
                <!--                requestJoin 커맨드객체에서 email연결-->
                <input type="text" name="email" th:field="*{email}">
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text = "#{이메일}"></dt>
            <dd>
                <!--                requestJoin 커맨드객체에서 email연결-->
                <input type="text" name="email" th:field="*{email}">
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text = "#{이메일}"></dt>
            <dd>
                <!--                requestJoin 커맨드객체에서 email연결-->
                <input type="text" name="email" th:field="*{email}">
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>
        <dl>
            <dt th:text = "#{이메일}"></dt>
            <dd>
                <!--                requestJoin 커맨드객체에서 email연결-->
                <input type="text" name="email" th:field="*{email}">
                <div class="error" th:each="err : ${#fields.errors('email')}" th:text="${err}"></div>
            </dd>
        </dl>
    </form>
</main>
</html>
