
/*폰트 설정*/
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700&display=swap');
/*모든태그 공통설정, focus시 highlighting되는 outline 효과 제거 */
/* box-sizing: 사이즈 기준점 정하기
    1. content-box : 기본값 - 컨텐츠 크기를 고정, 컨텐츠 이외의 다른 크기가 바뀜
    2. border-box : 경계(테두리)를 고정시키고 그 안에서 컨텐츠 사이즈를 분배 */
* { font-family: 'Noto Sans KR', sans-serif; color: #000; box-sizing: border-box;
outline: none; }
html { font-size: 13px; }

/*body 태그에는 기본 여백이 존재, 따라서 여백을 인위적으로 제거해준다.*/
body { margin: 0; }
/*a 태그 기본 스타일 제거*/
a { text-decoration: none; }
/* 리스트 기본스타일 제거, 기본 들여쓰기 제거  */
ul, ol { list-style: none; margin: 0; padding: 0; }
/* 기본 들여쓰기 제거 */
dl, dt, dd{ margin: 0; padding: 0;}
/*이미지 기본 경계선 제거*/
img { border: 0;}

/* 헤더 영역 S */
/* header안의 section 태그 위치 설정
    - flex로 공간 나누기
    - jusify-content : space-between : 가운데 공백, 좌우로 나뉨(로고: 왼쪽, 버튼: 오른쪽)
    - align-items : center : flex 안의 아이템을 위 아래 가운데 정렬 */
header { display: flex; justify-content: space-between; height: 80px; align-items: center; background: #fff; }
/* header > section : header의 자식 section 태그 선택
    fist-of-type : 첫번째 section 태그 선택 */
header > section:first-of-type { width: 208px; text-align: center; } /*  '>' : 자식선택자 */
/* - flex-grow: 해당 아이템이 남은 공간을 얼마나 차지할 지를 결정
       - 기본값: 0 == 해당 아이템이 남은 공간을 채우지 않고 자신의 크기 만큼만 차지
       - 1 : 남은 공간없이 모든 공간 차지 */
header > section:last-of-type { flex-grow: 1; padding-right: 20px; text-align: right; }

/* 버튼 설정*/
/* display: inline-block : inline의 특징을 갖지만 너비,높이 설정 가능*/
/* line-height : 텍스트 라인(행)의 높이를 결정
    line-height: 26px: 텍스트 높이 26px */
header .btn_area a { display: inline-block; width: 90px; height: 28px; border: 1px solid #596b99; color: #596b99; border-radius: 5px; line-height: 26px; text-align: center;
 font-weight: 500; }
 /*마지막 버튼*/
 header .btn_area a:last-of-type { background: #596b99; color: #fff; }
/* 헤더 영역 E */


/* 내용 영역 S */
main { background: #f1f3fa; min-height: 1000px; display: flex; }
/* 사이드 메뉴 너비,컬러 설정*/
main > aside { width: 208px; background: #596b99; }

/* 내용영역 flex-grow로 여백없이 꽉 채우기, 상하좌우 띄워주기
    화면 크기에 상관없이 사이드바 크기를 고정하고, 세션 영역의 너비를 유동적으로 변화시키기 위해
    화면 전체비율(100%)에서 사이드바의 너비 208px을 빼준 값으로 너비 설정.*/
main > section { flex-grow: 1; padding: 50px; width: calc(100% - 208px); }
/* a 태그 : inline속성 태그 -> 글처럼 한줄로 나열됨
    block속성으로 바꿔 한 줄 한 줄 출력되게 배치*/
/*메뉴 폰트색, 가운데 정렬, 폰트사이즈 */
main > aside > a { display: block; height: 71px; color: #dddee4; font-size: 1.385rem; text-align: center; line-height: 70px; position: relative; }
/* 첫번째만 제외하고 상단에 경계선 부여 -> 형제선택자 사용 */
main > aside > a + a { border-top: 1px solid #61729e; }
/* 아이콘 컬러 설정*/
main > aside > a i { color: #dddee4; font-size: 1.385rem; }
/*메뉴가 선택되었을 때, 마우스를 올려놨을 때 배경색을 진하게 강조 */
main > aside > a.on, main > aside > a:hover { background: #3c4e7a; font-weight: 500; }

/* 메뉴가 선택되었을 때, 마우스를 올려놨을 때 사이드메뉴 오른쪽 끝에 하늘색 하이라이팅 */
/* after: 가상 클래스 선택자 중 자식 요소의 끝에 추가
    content: :after 혹은 :before의 필수 속성, 내용을 출력하는데 사용(주로 텍스트) */
main > aside > a.on:after, main > aside > a:hover:after { content: ''; display: block;
 width: 8px; height: 100%; right: 0; top: 0; background: #00d0d7; position: absolute; }

/*box-shadow: 수평그림자(음수 왼쪽, 양수 오른쪽), 수직그림자(음수 위쪽, 양수 아래쪽), 흐림정도 , 그림자의 크기
    --> 아래, 오른쪽 방향 그림자 2px씩, 흐림정도 5px */
nav.submenus { box-shadow: 2px 2px 5px #cdced5; height: 60px; background: #fff;
   border-radius: 5px; margin-bottom: 50px; display: flex; align-items: center; }
/* a태그 양쪽 여백 40px line-height를 높이와 동일하게 줘서 글씨를 위아래 가운데 정렬*/
nav.submenus a { height: 60px; line-height: 60px; padding: 0 40px; font-size: 1.385rem;
  color: #222; }
  /* 메뉴가 선택되었을 때 css 설정 */
nav.submenus a.on { background: #596b99; color: #fff; font-weight: 500; }
/* 내용 영역  E */
/*뭐지!!*/

/* 제목 공통 */
/*line-height : 1; == 행간을 글자 크기와 동일하게 */
h1 { margin: 0; padding: 0 0 20px 10px; line-height: 1; font-size: 2rem; border-bottom: 2px solid #222;
    margin-bottom: 30px; }

/* 테이블 공통 S */
.table_cols { border-spacing: 0; width: 100%; border-top: 2px solid #222; }
  /* 테이블 제목, td */
.table_cols th, .table_cols td { padding: 10px; border-bottom: 1px solid #d5d5d5; }
.table_cols th { background: #ccc; font-weight: normal; }
/* 테이블 공통 E */

/* 입력 공통 S */
input[type='text'],
input[type='number'],
input[type='email'],
input[type='password'] { border: 1px solid #d5d5d5; height: 35px; padding: 0 10px;
    width: 100% }
textarea { border: 1px solid #d5d5d5; min-height: 200px; padding: 10px; resize:none; width: 100%; }
select { border: 1px solid #d5d5d5; height: 35px; }
/* 입력 공통 E */